#testingWindow {
    overflow: hidden;
}

#testingWindow .display {
    background-color: red;
    width: 100%;
    height: 100%;
    padding-top: 35px;
}

#testingWindow .options {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
}
